<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:usesCleartextTraffic="true"



        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OnJeong"
        tools:targetApi="31">

        <activity
            android:name="com.a503.onjeong.domain.login.activity.AutoLoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.a503.onjeong.domain.login.activity.LoginActivity"/>
        <activity android:name=".KakaoLoginActivity" />
        <activity android:name=".TelephoneActivity" />
        <activity android:name=".StartActivity" />
        <activity android:name="com.a503.onjeong.domain.MainActivity"/>

        <activity
            android:name="com.a503.onjeong.domain.news.activity.NewsActivity"
            android:exported="true">
        </activity>
        <activity
            android:name="com.a503.onjeong.domain.game.GameActivity"
            android:exported="true">
        </activity>
        <activity
            android:name="com.a503.onjeong.domain.game.Game1Lobby"
            android:exported="true">
        </activity>
        <activity
            android:name="com.a503.onjeong.domain.game.Game2Lobby"
            android:exported="true">
        </activity>
        <activity
            android:name="com.a503.onjeong.domain.game.Game1Description"
            android:exported="true">
        </activity>
        <activity
            android:name="com.a503.onjeong.domain.game.Game2Description"
            android:exported="true">
        </activity>
        <activity
            android:name="com.a503.onjeong.domain.game.Game2Activity"
            android:exported="true">
        </activity>
        <activity
            android:name="com.a503.onjeong.domain.game.Game1Activity"
            android:exported="true">
        </activity>
        <activity
            android:name="com.a503.onjeong.domain.mypage.activity.MyPageActivity"
            android:exported="true">
        </activity>

        <activity
            android:name="com.a503.onjeong.domain.mypage.activity.GroupListActivity"
            android:exported="true">
        </activity>

        <activity
            android:name="com.a503.onjeong.domain.mypage.activity.GroupCreateActivity"
            android:exported="true">
        </activity>

        <activity
            android:name="com.a503.onjeong.domain.mypage.activity.GroupDetailActivity"
            android:exported="true">
        </activity>
    </application>
    <!-- url 사용을 위해 인터넷 접속 허가-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--연락처 접근 권한-->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
</manifest>